<script>
  $(document).ready(function(){
    $(".vocabbutton" ).on ("click", function(){
      $(this).next (".vocab").toggle("slow");
    });
  });
  </script>

<script>
  $(document).ready(function(){
    $(".correctbutton" ).on ("click", function(){
      $(this).next (".correct").toggle();
    });
  });
  </script>




<section id="posts">
   <div class="container">
      {% for post in paginator.posts %}
      <div class="row post-entry">
      <div class="col-sm-12">

        <p class="post-date">
          <span class="day">{{ post.title }}</span>
          <br class="post-divider">
         
        </p>

      </div>
    </div>
   
      <div class="row post-entry">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
  
          <div id="translation-block-three">
            <button class="vocabbutton btn-block btn-raised btn-warning">SAESNEG</button>
            <div class="vocab">  <p class= "translation-copy">{{post.content | json}}</p></div>
            </div>

            <div id="translation-block-one">
              <button class="mytranslationbutton btn-block btn-raised btn-danger disabled yourtranslation">YMARFER</button>
              <textarea class="form-control" rows="8" placeholder="Ymarfer yma..."></textarea>
          </div>
      </div>
          <div class="col-sm-5"></div>
        </div>
      </div>
      <div class="col-sm-12 post-divider"></div>
  </div>
{% endfor %}


</section>
